        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        
        body {
            background: wheat;
            color: #464343;
        }
        
        .header-container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .logo {
            width: 10%;
            height: 10%;
            border-radius: 100%;
            object-fit: cover;
            border: 2px solid white;
            margin-right: auto;
            display: flex;
            align-items: right;
            gap: 0.5rem;
            margin-right: 10px;
        }
        
        header {
            background: #940410da;
            color: white;
            padding: 20px;
            text-align: center;
            margin-top: auto;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
        }
        
        nav {
            display: flex;
            justify-content: center;
            gap: 25px;
            margin-top: 10px;
        }
        
        nav a {
            text-decoration: none;
            color: white;
            font-weight: 500;
            transition: 0.3s;
        }
        
        nav a:hover {
            text-decoration: underline;
        }
        
        .hero {
            text-align: center;
            padding: 60px 20px;
            margin: 30px auto;
            border-radius: 15px;
            width: 100%;
            max-width: 1000px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            background-color: antiquewhite;
        }
        
        .hero h1 {
            color: #0077ff;
            margin-bottom: 15px;
        }
        
        .hero p {
            font-size: 18px;
            color: #555;
            margin-bottom: 30px;
        }
        
        .btn {
            background: #0077ff;
            color: wheat;
            padding: 12px 25px;
            border-radius: 8px;
            text-decoration: none;
            font-size: 16px;
            transition: 0.3s;
            gap: 20px;
            margin-bottom: 20px;
        }
        
        .btn:hover {
            background: #005fd1;
        }
        
        .cards {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            width: 85%;
            margin: 40px auto;
            margin-bottom: 20px;
        }
        
        .card {
            background: antiquewhite;
            border-radius: 12px;
            padding: 25px;
            text-align: center;
            transition: transform 0.3s;
            margin-bottom: 20px;
        }
        
        .card p {
            margin-bottom: 20px;
        }
        
        .card:hover {
            transform: translateY(-5px);
        }
        
        .card h3 {
            color: #0077ff;
            margin-bottom: 10px;
        }
        
        footer {
            text-align: center;
            background: #940410da;
            color: white;
            padding: 15px;
            margin-top: 40px;
        }